{% extends 'base.html' %}

{% block content %}

  <h1>Travel Tips and Advice </h1>

        <div class="row">

          {% for about in about %}

          <div class="col-sm-6">
            <div class="card" style="height:20.75rem">
              <div class="card-body">
                <h4 class="card-title" style="font-weight:900 ; margin-bottom: 3rem">{{about.small_title}}</h4>
                <p class="card-text">{{about.description}}</p>
              </div>
            </div>
          </div>
           <div class="col-sm-6">
            <div class="card">
              <div class="card-body" style="width:25rem">
               <img class="card-img-top" src="{{about.image_url}}" style="height:20.75rem" alt="Card image cap">
              </div>
            </div>
          </div>
          {% endfor %}
        </div>


{% endblock %}